- title 'Флексбокс'

pre.compile-from
  code display: <mark>flex</mark>

pre.compile-to
  code display: <mark>-webkit-box</mark>;
  code display: <mark>-webkit-flex</mark>;
  code display: <mark>-moz-box</mark>;
  code display: <mark>-ms-flexbox</mark>;
  code display: <mark>flex</mark>
