- title 'Браузеры по умолчанию'

ul
  li Больше <strong>1 %</strong> в глобальной статистике
  li Последние <strong>2 версии</strong>
  li <strong>Файфокс 24</strong> — ESR-релиз
  li <strong>Опера 12.1</strong> — пока ветка 12 поддерживается
