- title 'Сложный флексбокс'

pre.compile-from
  code <mark>flex-direction</mark>: row

pre.compile-to
  code <mark>-webkit-box-orient</mark>: horizontal;
  code <mark>-webkit-box-direction</mark>: normal;
  code.split <mark>-webkit-flex-direction</mark>: row;
  code.split <mark>-moz-box-orient</mark>: horizontal;
  code <mark>-moz-box-direction</mark>: normal;
  code.split <mark>-ms-flex-direction</mark>: row;
  code.split <mark>flex-direction</mark>: row
