- title 'Свойства'

pre.compile-from
  code <mark>box-sizing</mark>: border-box

pre.compile-to
  code <mark>-webkit-box-sizing</mark>: border-box
  code <mark>-moz-box-sizing</mark>: border-box
  code <mark>box-sizing</mark>: border-box
